*{
    box-sizing: content-box;
}
body{
    background-color: #6FC477;
}
.container{
    display: flex;
    width: 140vh;
    margin: 7rem auto;

}
#profil{
    background-color: white;
    width: 40%;
    position: relative;
    height: 50%;
    
}
.droite{
    background-color: white;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
   
}
#profil img{
    width: 100%;
    
}
#profil h1{
    margin-bottom: 2%;
    font-size: 2em;
    text-align: center;

}
.metier{
    margin-top: 1%;
    font-size: 1em;
    color: #98CE90;
    text-align: center;
}
.container_droite{
    display: flex;
    background-color: white;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 85%;
}
.apropos{
    position: relative;
    border-bottom: 1px solid black;
    padding: 10px 15px 20px 15px;
    background-color: white;
    margin-bottom: 0px;

}
.competence, .adresse{
    padding-left: 15px;
     width: 50%;
}
